/* Sleek Design V1, Jul-2-2023 */
/* Import The Open Props Stuff */
/* adapted from OPen Props: https://open-props.style/#animations */
@import "open-props/easings.min.css";
@import "open-props/animations.min.css";
@import "open-props/open-props.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fade any content into view */
._content-load-animation {
  animation: var(--animation-fade-in) forwards;
}

/* Slide content into view animations */
._slide-down-animation {
  animation: var(--animation-slide-out-down) forwards;
}
._slide-up-animation {
  animation: var(--animation-slide-in-up) forwards;
}
._slide-right-animation {
  animation: var(--animation-slide-in-right) forwards;
}
._slide-left-animation {
  animation: var(--animation-slide-in-left) forwards;
}

.slide-fade-down {
  animation:
    var(--animation-fade-out) forwards,
    var(--animation-slide-out-down);
  animation-timing-function: var(--ease-squish-3);
  animation-duration: 1s;
}
._slide-fade-left-animation {
  animation:
    var(--animation-slide-in-right) forwards,
    var(--animation-fade-in);
  animation-timing-function: var(--ease-elastic-4);
  animation-duration: 1s;
}

._slide-fade-right-animation {
  animation:
    var(--animation-slide-out-right) forwards,
    var(--animation-fade-out);
  animation-timing-function: var(--ease-elastic-4);
  animation-duration: 1s;
}

/* seek user attention */
._toast-blink-animation {
  animation: var(--animation-blink);
}

/* bring a toast into view */
._toast-shake-in-animation {
  animation: var(--animation-shake-y), var(--animation-fade-in),
    var(--animation-slide-in-left);
}

/* close toast or popup */
._pop-close-animation {
  animation: var(--animation-scale-down), var(--animation-fade-out);
  animation-timing-function: var(--ease-squish-4);
}

/* open toast  or popup, shake prefered for toasts */
._pop-open-animation {
  animation: var(--animation-scale-up), var(--animation-fade-in);
  animation-timing-function: var(--ease-squish-4);
}

/* Define Custom Variables */
:root {
  --brand-color: #33803d;
  --brand-secondary-color: rgb(251 146 60);
  --id-width: 85;
  --id-height: 54;
  --base-width: 100vw;
}

/* Shadcn Set Variables */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
  [data-registry="plate"] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --brand: 217.2 91.2% 59.8%;
    --highlight: 47.9 95.8% 53.1%;
  }
  [data-registry="plate"].dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --brand: 213.3 93.9% 67.8%;
    --highlight: 48 96% 53%;
  }
}

/* my tailwind utilities */
@layer utilities {
  ._hover-styles {
    @apply transition ease-linear will-change-transform active:scale-95;
  }

  ._icon-hover-x {
    @apply transition duration-300 ease-linear will-change-transform group-hover:translate-x-2;
  }
  ._icon-hover-y {
    @apply transition duration-300 ease-linear will-change-transform group-hover:-translate-y-1;
  }
}

/* E-KYC Project Specific styles */
.scan-card-styles {
  width: calc((100vw - 3rem));
  height: calc((100vw - 3rem) * 54 / 85);
  margin-inline: auto;
  /* height: var(--size-fluid-9); */
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .scan-card-styles {
    height: calc((50vw - 3rem) * 54 / 85);
  }
}

/* my custom fonts */
/* h1,
h2,
h3 {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h4,
h5,
h6,
p {
  font-family: "Roboto Mono", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}

a,
button,
span.text-sm {
  font-family: "Space Mono", monospace, "Courier New", Courier;
} */

/* my custom css */
.bg-svg-pattern {
  /* background-color: #f9fafb; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%232563eb' fill-opacity='0.02' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.search-results-custom::-webkit-scrollbar {
  display: none;
}

/* Fixing Next Image */
.next-image-container {
  width: 100%;
  height: 100%;
}

.next-image-container > div {
  position: unset !important;
}

.next-image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Disable Input Increment And Decrement Buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Loader Styles */

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--brand-secondary-color);
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

/* New Custom Scrollbar */
/* Handle content scrolling */
.scrollable {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-wrap: break-word;
  scroll-snap-type: y mandatory; /* Force scroll snap For vertical scrolling, use 'x' for horizontal scrolling */
}

html {
  scroll-behavior: smooth;
  --hue-color: 230;
  /* Purple 250 - Green 142 - Blue 230 - Pink 340 */
  /* Change favorite color */
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}

::-webkit-scrollbar {
  width: 0.4rem; /* Adjust width as desired */
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* Scrollable class scrollbar */
.scrollable::-webkit-scrollbar {
  width: 0.4rem; /* Adjust width as desired */
  background-color: var(--scroll-bar-color);
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* Define the snap points */
.scrollable.snaps-children > * {
  scroll-snap-align: start; /* Snap to the start of each section/item */
  scroll-snap-stop: always; /* Ensure the scroll snaps to the nearest snap point */
}

/* Custom Pulse Animation */
.custom-pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation: pulse 1500ms ease infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Transfered Camera Specific Styles */

.camera-dropdown {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  justify-content: center;
  align-items: center;
  margin-bottom: var(--size-8);
}

.custom-select {
  outline: none;
  color: var(--orange-4);
  background-color: black;
  padding: var(--size-2);
  margin-inline: var(--size-2);
  border: var(--border-size-1) solid var(--green-5);
  border-radius: var(--radius-conditional-2);
}

.custom-select:active {
  outline: none;
  border: var(--border-size-1) solid var(--orange-4);
}

.custom-select option {
  color: var(--orange-4);
}

.dropdown-label {
  color: var(--orange-4);
}

.focus-area {
  width: 100vw;
  height: calc(100vw * 54 / 85);
  display: grid;
  position: relative;
  overflow: hidden;
  place-items: center;
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-4);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-fluid-2);
  border-block: var(--border-size-2) dashed var(--brand-color);
  /* border-radius: var(--radius-4); */
  background: rgba(2, 2, 18, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* The Schematics Layer Styles */
.schematics-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: var(--layer-5);
}

.schematic {
  display: grid;
  place-items: center;
  font-size: var(--size-fluid-2);
  position: absolute;
  color: var(--brand-color);
  text-transform: uppercase;
  border: var(--border-size-1) dotted var(--brand-color);
}

.schematic.photo-area {
  bottom: 0;
  width: calc(100% * 25 / 85);
  height: calc(100% * 38 / 54);
}
.schematic.details {
  bottom: 0;
  left: calc(100% * 25 / 85);
  width: calc(100% * 60 / 85);
  height: calc(100% * 40 / 54);
}
.schematic.title {
  top: 0;
  left: calc(100% * 25 / 85);
  width: calc(100% * 60 / 85);
  height: calc(100% * 14 / 54);
}

/* Back Layer Schematics */
.schematic.numbers.back {
  bottom: 0;
  left: 0;
  width: calc(100% * 85 / 85);
  height: calc(100% * 20 / 54);
}

.schematic.address.back {
  bottom: calc(100% * 20 / 54);
  left: 0;
  padding-inline-start: var(--size-3);
  justify-content: start;
  text-align: start;
  width: calc(100% * 85 / 85);
  height: calc(100% * 14 / 54);
}

.schematic.thumb-area {
  top: 0;
  left: 0;
  width: calc(100% * 25 / 85);
  height: calc(100% * 20 / 54);
}
.schematic.bar-code {
  top: 0;
  right: 0;
  width: calc(100% * 60 / 85);
  height: calc(100% * 20 / 54);
}

/* Invisible Scrollbar Styles */
/* For both vertical and horizontal scrollbars */
.invisible-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For WebKit browsers (like Chrome and Safari) */
.invisible-scroll::-webkit-scrollbar {
  width: 8px; /* adjust as needed */
}

.invisible-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Specific Media Queries */
@media screen and (min-width: 768px) {
  .camera-dropdown {
    display: none;
  }
}

/* textarea:focus,
select:focus {
  border: none;
  box-shadow: none;
} */
